/* prism theme adjustments */

.notion-code {
  background-color: rgba(249, 250, 251, 1);
  border: 1px solid rgba(229, 231, 235, 1);
  border-radius: 0.375rem;
  padding: 1.5em !important;
}

.dark-mode .notion-code {
  background-color: rgba(17, 24, 39, 1);
  border-color: rgba(55, 65, 81, 1);
}
.notion code {
  color: rgba(31, 41, 55, 1);
  border: 0 none !important;
  box-shadow: none !important;
  background: none !important;
  padding: 0 !important;
}
.dark-mode .notion code {
  color: rgba(229, 231, 235, 1);
}

.dark-mode .notion .notion-inline-code {
  background: rgb(71, 76, 80) !important;
  color: #ff4081;
  padding: 0.2em 0.4em !important;
}

.notion .notion-inline-code {
  color: #ff4081;
  background: rgba(127, 122, 107, 0.1) !important;
  padding: 0.2em 0.4em !important;
}

.token.cdata,
.token.doctype,
.token.prolog {
  color: rgba(55, 65, 81, 1);
}
.token.comment {
  color: #5b9b4c;
}
.dark-mode .token.cdata,
.dark-mode .token.doctype,
.dark-mode .token.prolog {
  color: rgba(209, 213, 219, 1);
}
.token.punctuation {
  color: rgba(55, 65, 81, 1);
}
.dark-mode .token.punctuation {
  color: rgba(209, 213, 219, 1);
}
.token.boolean,
.token.constant,
.token.deleted,
.token.number,
.token.property,
.token.symbol,
.token.tag {
  color: rgba(16, 185, 129, 1);
}
.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
  color: rgba(139, 92, 246, 1);
}
.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
  color: rgba(245, 158, 11, 1);
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: rgba(59, 130, 246, 1);
}
.token.class-name,
.token.function {
  color: rgba(236, 72, 153, 1);
}
.token.important,
.token.regex,
.token.variable {
  color: rgba(245, 158, 11, 1);
}
code[class*='language-'],
pre[class*='language-'] {
  color: rgba(31, 41, 55, 1);
}
.dark-mode code[class*='language-'],
.dark-mode pre[class*='language-'] {
  color: rgba(249, 250, 251, 1);
}
pre::-webkit-scrollbar {
  display: none;
}
pre {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.token.operator,
.token.entity,
.token.url,
.token.variable {
  background: none;
}

pre[class*='language-'] > code {
  border-left: 0 none !important;
  box-shadow: none !important;
  background: none !important;
}

pre[class*='language-']:before,
pre[class*='language-']:after {
  display: none !important;
}

/* =================================== CSS PERSO =================================== */

.styles_githubCorner__7QjNo {
  display: none !important;
}

/* Alignement en hauteur items menu navigation principal */
/* .notion-toggle, .notion-block-22654ec5cecd4fe8ad26ee8740f12e33,
.notion-toggle, .notion-block-427313d7dd344ff1b0da0fd783882e8f,
.notion-toggle, .notion-block-3dac4b6ba7c544bfbc8862319f44d06a {
  margin-top: 7px !important;
} */

/* Page Accueil : Mise en gras date */
.notion-property-date {
  font-weight: bold !important;
  font-size: 18px !important;
  color: #717171 !important;
}

/* Texte en normal */
.notion-gallery-grid .notion-property-text {
font-weight: normal !important;
  font-style: italic !important;
  color: green !important;
}

/* Mascage icon database sur pages */
.notion-collection-header {
 display: none !important; 
}

/* Masquage des icons de pages liées */
.notion-page-link, .notion-block-e5be0e9a5f6d4e739d42026c40e49ac9,
.notion-page-link, .notion-block-fd96be2f375c4879addc5bc85c4755ac,
.notion-page-link, .notion-block-867c092bf4914f49980d7239a9dbc24b,
.notion-page-link, .notion-block-231938fcc5c644c28cee33b2695b2421,
.notion-page-link, .notion-block-2b4fa086f10a42b29d60bcef2cddcccd,
.notion-page-link, .notion-block-ff4389b35b1a4a7aa714ac974e7899bd,
.notion-page-link, .notion-block-5987019007094a3ca1d3c04eeaebeffc,
.notion-page-link, .notion-block-ee5baf4a4b38498092def57f7d0725c6 {
 display: none !important; 
}

/* border autour des images d'article */
.notion-block-2877014047ac459598d1cfa6967dc096 {
  border: 1px solid #ddd !important;
  padding: 8px !important;
}

/* Légende image article */
.notion-asset-caption {
    text-align: center !important;
    color: #bbb !important;
    font-style: italic !important;
} 

 .notion-selectable .notion-image-block .notion-enable-hover {
     color: ##ABABAB !important;
     font-style: italic!important;
   }

/* Border image contour */
.notion-asset-wrapper .notion-asset-wrapper-image .notion-block-c6081e33a0ea4ecf83d99a92732b264b {
  border: 1px solid #ddd !important;
    padding: 8px !important;
  }

/* Page Contact : Contour formulaire contact */
.cOKDxC {
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid red !important;
    padding: 30px;
    border-radius: 15px;
}


@media only screen and (max-width: 600px) {
  .notion-search-button {
    display: none !important;
  }
.notion-selectable, .notion-image-block {
    width: 100% !important;
    border: 1px solid #ddd !important;
    padding: 8px !important;
    color: ##ABABAB !important;
    font-style: italic !important;
  }
  
    }










