/* prism theme adjustments */

.notion-code {
  background-color: rgba(249, 250, 251, 1);
  border: 1px solid rgba(229, 231, 235, 1);
  border-radius: 0.375rem;
  padding: 1.5em !important;
}

.dark-mode .notion-code {
  background-color: rgba(17, 24, 39, 1);
  border-color: rgba(55, 65, 81, 1);
}
.notion code {
  color: rgba(31, 41, 55, 1);
  border: 0 none !important;
  box-shadow: none !important;
  background: none !important;
  padding: 0 !important;
}
.dark-mode .notion code {
  color: rgba(229, 231, 235, 1);
}

.dark-mode .notion .notion-inline-code {
  background: rgb(71, 76, 80) !important;
  color: #ff4081;
  padding: 0.2em 0.4em !important;
}

.notion .notion-inline-code {
  color: #ff4081;
  background: rgba(127, 122, 107, 0.1) !important;
  padding: 0.2em 0.4em !important;
}

.token.cdata,
.token.doctype,
.token.prolog {
  color: rgba(55, 65, 81, 1);
}
.token.comment {
  color: #5b9b4c;
}
.dark-mode .token.cdata,
.dark-mode .token.doctype,
.dark-mode .token.prolog {
  color: rgba(209, 213, 219, 1);
}
.token.punctuation {
  color: rgba(55, 65, 81, 1);
}
.dark-mode .token.punctuation {
  color: rgba(209, 213, 219, 1);
}
.token.boolean,
.token.constant,
.token.deleted,
.token.number,
.token.property,
.token.symbol,
.token.tag {
  color: rgba(16, 185, 129, 1);
}
.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
  color: rgba(139, 92, 246, 1);
}
.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
  color: rgba(245, 158, 11, 1);
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: rgba(59, 130, 246, 1);
}
.token.class-name,
.token.function {
  color: rgba(236, 72, 153, 1);
}
.token.important,
.token.regex,
.token.variable {
  color: rgba(245, 158, 11, 1);
}
code[class*='language-'],
pre[class*='language-'] {
  color: rgba(31, 41, 55, 1);
}
.dark-mode code[class*='language-'],
.dark-mode pre[class*='language-'] {
  color: rgba(249, 250, 251, 1);
}
pre::-webkit-scrollbar {
  display: none;
}
pre {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.token.operator,
.token.entity,
.token.url,
.token.variable {
  background: none;
}

pre[class*='language-'] > code {
  border-left: 0 none !important;
  box-shadow: none !important;
  background: none !important;
}

pre[class*='language-']:before,
pre[class*='language-']:after {
  display: none !important;
}

/* 
  =================================== CSS PERSO =================================== 
*/

.styles_githubCorner__7QjNo {
  display: none !important;
}

/*
  ================ Navbar ===========================================
*/
/* Masquage icone Callout */
.notion-callout .notion-page-icon-inline {
  display: none !important;
  /*padding-left: 25px;*/
}

.notion-callout-text {
  width: 99% !important;
  margin: 0 auto !important;
  text-align: center !important;
}

.notion-callout-text .notion-link {
  text-decoration: none;
}

/* 
    Masquage des icons des pages liées sur page accueil
*/

/* Icone page liée Stevenson */
.notion-block-fd96be2f375c4879addc5bc85c4755ac,
/* Icone page liée Rando */
.notion-block-e5be0e9a5f6d4e739d42026c40e49ac9,
/* Icone page liée Les Abers */
.notion-block-867c092bf4914f49980d7239a9dbc24b,
/* Icone page liée Galerie photos */
.notion-block-231938fcc5c644c28cee33b2695b2421,
/* Icone page liée Contact */
.notion-block-2b4fa086f10a42b29d60bcef2cddcccd,
/* Icone page Email-reçu */
.notion-block-ff4389b35b1a4a7aa714ac974e7899bd,
/* Icone page A propos */
.notion-block-ee5baf4a4b38498092def57f7d0725c6,
/* Icone page Footer */
.notion-block-5987019007094a3ca1d3c04eeaebeffc {
 display: none !important; 
} */


/* Page Accueil -> Card : Page title text */
.notion-page-title-text {
  font-family: "Helvetica Neue",sans-serif !important;
  letter-spacing: -1px !important;
} 

.notion-collection-card-property .notion-page-title {
  font-family: "Helvetica Neue",sans-serif !important;
  letter-spacing: -1px !important;
}

/* Notion page link */
div.notion-collection-card-body.notion-page-link {
  text-align: center !important;
}


/* Page Accueil -> Card : Mise en gras date */
.notion-property-date {
  color: #717171 !important;
  font-size: 16px !important;
}

/* Page Accueil -> Card : Texte Description en normal  */
figure.notion-asset-wrapper.notion-asset-wrapper-image.notion-block-7c2f6c820f2e4a5ebb683cc96668cc85 {
  font-weight: normal !important;
  color: #717171 !important;
}

figure.notion-asset-wrapper.notion-asset-wrapper-image.notion-block-80466d1a05ef4c6ab1218e303e252166 {
  font-weight: normal !important;
  color: #717171 !important;
}

figure.notion-asset-wrapper.notion-asset-wrapper-image.notion-block-1600d769640a4f2198d85586f2582823 {
  font-weight: normal !important;
  color: #717171 !important;
}


/* Page Articles -> texte */
.notion-text {
  color: #717171 !important;
}

/* Mascage icon database sur pages */
.notion-collection-header {
 display: none !important; 
}

/*
  ================ Page Itinérance =====================================
*/
/* Border autour des images cliquables */
.notion-asset-wrapper, .notion-asset-wrapper-image {
    border: 1px solid #ddd !important;
    padding: 6px !important;
}

/*
  ================ Page Contact ========================================
*/

/* Suppression icon Chilipepper */
a > .sc-gsTCUz kbWvWF {
  display: none !important;
}



/* ============================= Mobile ============================= */

@media only screen and (max-width: 600px) {

.notion-search-button {
    display: none !important;
  }
  
/* Page Accueil -> Card : Page title text */
.notion-property-date .notion-page-title-text {
  text-align: center !important;
} 
  

.notion-page-title-text {
  text-align: center !important;
} 

  
.notion-selectable, .notion-image-block {
    width: 100% !important;
    border: 1px solid #ddd !important;
    padding: 8px !important;
    color: ##ABABAB !important;
    font-style: italic !important;
  }
  
.notion-block-09c41b03d373458c859e6222824b5765 {
    width: 100% !important;
  }

/* Center titre image cliquable */  
div.notion-text.notion-block-15a7a3101ed340e6bf4bd4c526f76937,
div.notion-text.notion-block-f506e474fbba4393b8651dda9747aef9,
div.notion-text.notion-block-667d023efc0b4061a5f8ffbffebb46d5 {
    text-align: center !important;
  }

div.notion-text.notion-block-667d023efc0b4061a5f8ffbffebb46d5 {
    text-align: center !important;
  } */
  
/* Suppression Border autour des images cliquables */
.notion-asset-wrapper, .notion-asset-wrapper-image {
    border: none !important;
    padding: 0px !important;
}
  
    }
















